<h3>An error occured. Please contact TechWebDots@gmail.com if the same exception occured again!</h3>
<hr />
    <div style="text-align:center"><a asp-action="Index" asp-controller="Books" >Go Back</a></div>
<hr />
<h2>Error Details:</h2>
<div>
    <h4>Error Path</h4>
    <hr />
    <p>@ViewBag.ErrorPath</p>
</div>

<div>
    <h4>Error Message</h4>
    <hr />
    <p>@ViewBag.ErrorMessage</p>
</div>

<div>
    <h4>Error Source</h4>
    <hr />
    <p>@ViewBag.ErrorSource</p>
</div>

<div>
    <h4>Error Stack Trace</h4>
    <hr />
    <p>@ViewBag.ErrorStackTrace</p>
</div>
